apiVersion: apps/v1
kind: Deployment
metadata:
    labels: {{- include "cdi.labels" . | nindent 8 }}
{{ .Values.cdiOperator.deployment.extraLabels | toYaml | nindent 8 }}
    name: '{{ include "cdi.fullname" . }}-cdi-operator'
    namespace: {{ .Release.Namespace }}
spec:
    replicas: {{ .Values.cdiOperator.deployment.replicas }}
    selector:
        matchLabels: {{- include "cdi.selectorLabels" . | nindent 12 }}
    strategy: {}
    template:
        metadata:
            annotations: {{ .Values.cdiOperator.deployment.podAnnotations | toYaml | nindent 16 }}
            labels: {{- include "cdi.labels" . | nindent 16 }}
{{ .Values.cdiOperator.deployment.podLabels | toYaml | nindent 16 }}
        spec:
            affinity: {{ .Values.cdiOperator.deployment.affinity | toYaml | nindent 16 }}
            containers:
                - env: {{ .Values.cdiOperator.deployment.env | toYaml | nindent 20 }}
                  image: {{ .Values.cdiOperator.deployment.image.repository }}:{{ .Values.cdiOperator.deployment.image.tag }}
                  imagePullPolicy: {{ .Values.cdiOperator.deployment.imagePullPolicy }}
                  livenessProbe:
                    httpGet:
                        path: /healthz
                        port: 8444
                        scheme: HTTP
                    initialDelaySeconds: 5
                    timeoutSeconds: 10
                  name: cdi-operator
                  ports:
                    - containerPort: 8443
                      name: metrics
                      protocol: TCP
                    - containerPort: 8444
                      name: health
                      protocol: TCP
                  readinessProbe:
                    httpGet:
                        path: /readyz
                        port: 8444
                        scheme: HTTP
                    initialDelaySeconds: 5
                    timeoutSeconds: 10
                  resources: {{ .Values.cdiOperator.deployment.resources | toYaml | nindent 20 }}
                  securityContext: {{ .Values.cdiOperator.deployment.securityContext | toYaml | nindent 20 }}
                  terminationMessagePath: /dev/termination-log
                  terminationMessagePolicy: FallbackToLogsOnError
            nodeSelector: {{ .Values.cdiOperator.deployment.nodeSelector | toYaml | nindent 16 }}
            securityContext: {{ .Values.cdiOperator.deployment.podSecurityContext | toYaml | nindent 16 }}
            serviceAccountName: '{{ include "cdi.fullname" . }}-cdi-operator'
            tolerations: {{ .Values.cdiOperator.deployment.tolerations | toYaml | nindent 16 }}
