apiVersion: apps/v1
kind: Deployment
metadata:
    labels:
        app.kubernetes.io/component: manager
        app.kubernetes.io/created-by: ironic-standalone-operator
        app.kubernetes.io/instance: controller-manager
        app.kubernetes.io/managed-by: kustomize
        app.kubernetes.io/name: deployment
        app.kubernetes.io/part-of: ironic-standalone-operator
        control-plane: controller-manager
    name: ironic-standalone-operator-controller-manager
    namespace: {{ .Release.Namespace }}
spec:
    replicas: {{ .Values.operator.deployment.replicas }}
    selector:
        matchLabels:
            control-plane: controller-manager
    template:
        metadata:
            annotations:
                kubectl.kubernetes.io/default-container: manager
            labels:
                control-plane: controller-manager
        spec:
            affinity: {{ .Values.operator.deployment.affinity | toYaml | nindent 16 }}
            containers:
                - args:
                    - --leader-elect
                  command:
                    - /manager
                  envFrom:
                    - configMapRef:
                        name: ironic-standalone-operator-ironic-standalone-operator-config
                  image: {{ .Values.operator.deployment.image.repository }}:{{ .Values.operator.deployment.image.tag }}
                  imagePullPolicy: {{ .Values.operator.deployment.imagePullPolicy }}
                  livenessProbe:
                    httpGet:
                        path: /healthz
                        port: 8081
                    initialDelaySeconds: 15
                    periodSeconds: 20
                  name: manager
                  ports:
                    - containerPort: 9443
                      name: webhook-server
                      protocol: TCP
                  readinessProbe:
                    httpGet:
                        path: /readyz
                        port: 8081
                    initialDelaySeconds: 5
                    periodSeconds: 10
                  resources: {{ .Values.operator.deployment.resources | toYaml | nindent 20 }}
                  securityContext: {{ .Values.operator.deployment.securityContext | toYaml | nindent 20 }}
                  volumeMounts:
                    - mountPath: /tmp/k8s-webhook-server/serving-certs
                      name: cert
                      readOnly: true
            nodeSelector: {{ .Values.operator.deployment.nodeSelector | toYaml | nindent 16 }}
            securityContext: {{ .Values.operator.deployment.podSecurityContext | toYaml | nindent 16 }}
            serviceAccountName: ironic-standalone-operator-controller-manager
            terminationGracePeriodSeconds: 10
            tolerations: {{ .Values.operator.deployment.tolerations | toYaml | nindent 16 }}
            volumes:
                - name: cert
                  secret:
                    defaultMode: 420
                    secretName: irso-webhook-server-cert
