apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
    annotations: {{ .Values.operator.webhook.annotations | toYaml | nindent 8 }}
    labels:
        app.kubernetes.io/component: webhook
        app.kubernetes.io/created-by: ironic-standalone-operator
        app.kubernetes.io/instance: validating-webhook-configuration
        app.kubernetes.io/managed-by: kustomize
        app.kubernetes.io/name: validatingwebhookconfiguration
        app.kubernetes.io/part-of: ironic-standalone-operator
    name: ironic-standalone-operator-validating-webhook-configuration
webhooks:
    - admissionReviewVersions:
        - v1
      clientConfig:
        service:
            name: ironic-standalone-operator-webhook-service
            namespace: {{ .Release.Namespace }}
            path: /validate-ironic-metal3-io-v1alpha1-ironic
      failurePolicy: Fail
      name: validate-ironic.ironic.metal3.io
      rules:
        - apiGroups:
            - ironic.metal3.io
          apiVersions:
            - v1alpha1
          operations:
            - CREATE
            - UPDATE
          resources:
            - ironics
      sideEffects: None
